
@media screen and (max-width:1299px) {
    /* .wrk-img{
        width: 56%;
        padding: 5px 0;
        margin-top: 20px;
    }
    .row.text-center {
    gap: 20px;
} */
    
}
@media screen and (max-width:991px) {
    
}
@media screen and (max-width:767px) {
    
}
@media screen and (max-width:575px) {
    
}
@media screen and (max-width:425px) {
    
}
@media screen and (max-width:375px) {
    .wrk img {
    width: 90px;
    
}
.mytools i{
    margin-top: 15px;
}
.social_footer {
    margin-top: 30px;
}
    
}