/* header */
body {
   background-color: #ffffff;
   height: 100vh;
   /* background: linear-gradient(99deg, #FFF5F5, #59591F); */
}


.header-cnt {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
    height: 80px;

}

.header {
   background: linear-gradient(56deg, #f5e1b7, #AFA197, transparent);
   position: fixed;
   width: 100%;
   height: 80px;
   z-index: 100;

}

/* .header2-cnt {
   margin-top: 20px;
   margin-left: 47px;
} */

.header-cnt img {
   margin-top: 10px;
}

.header2-cnt nav ul {
   display: flex;
align-items: center;
   list-style: none;
   gap: 46px;
   margin-bottom: 0px;
}

.header2-cnt nav ul a {
   color: #020202
}
a {
   text-decoration: none;
}

.hero h3 {
   font-family: "Labrada", serif;
   color: #B48A00;
   font-size: 36px;
}

.hero h1 {
   font-family: "Labrada", serif;
   font-size: 55px;
   /* background: linear-gradient(121deg, #000, #79430e, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
   color: #020202;
}

.hero-img {
   position: relative;
}

.hero-cnt h1 {
   
   /* position: absolute; */
}

.hero-cnt {
   position: absolute;
   bottom: 115px;
   left: 214px;
}
#banner{
    background-image: url(../img/Bannerbg.jpg);
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 100px 0;
}
.mobile{
   width: 308px;
    float: right;
    margin-left: 40px;
}
/* navbar */
ul.navbar-nav li a:hover{
   color: #534102 !important;

}
   
   



/* btn */
.btn-1 a {
   color: white;
}

.btn-1 {
   border-radius: 8px;
   background-color: #7D6103;
   padding: 7px 8px;
   color: #FFFEFE;
   display: flex;
   align-items: center;
}
.btn-1:hover {
   border-radius: 8px;
   background-color: #ffffff;
   padding: 7px 8px;
   color:#7D6103;
   transition: 0.5s;
   
}
.btn-1 a:hover {
   color:#7D6103;
}

.btn-2 a {
   border-radius: 8px;
   border: solid black 1px;
   padding: 10px 15px;
   color: hsl(0, 0%, 1%);
   font-size: 16px;

}
.btn-2  :hover{
   background-color: white;
   color: #000;
   transition: 0.5s;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* .icon {
   background-color: white;
   padding: 5px 6px;
   border-radius: 80px;
} */
.icons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    right: 0;
    width: fit-content;
}


a.social i{
      background-color: #fff;
      padding: 15px;
      border-radius: 100%;
      color: #B48A00;
      font-size: 23px;
}
  /* #services */
#services{
   /* background-color: #fff; */
}
.services-cnt h4{
   color: #B48A00;
}
.services-cnt h2{
   font-size: 55px;
}
.uiux img {
    border-radius: 10px;
    background-color: #C09D27;
    padding: 6px 9px;
    margin-bottom: 29px;
    margin-top: 20px;
}
.uiux:hover img{
   background-color: transparent;
}
.uiux {
    margin-top: 70px;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px;
}
.uiux h5{
   color: #686767;
   font-size: 35px;
  
}
.uiux:hover h5{
   color: #fff;
}
.services-heading{
    padding: 10px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .uiux p{
    font-size: 18px;
    text-align: center;
    color: #1C1C1C;
    font-family: i;
    margin-top: 27px;
} */
.ui-btn {
  border: dashed 1px #B48A00;
  color: rgb(3, 3, 3);
   border-radius: 8px;
   padding: 10px 8px;
   width: fit-content;
}
.pl-0{
   padding-left: 0;
}
.ui-btn a{
   color:#000000;
   font-weight: 10px;
}
.ui-btn:hover a{
   color:#f3f2f2;
   font-weight: 10px;
}
.ui-btn:hover{
   border: dashed 1px #000;
}
.uiux:hover{
   background: #B48A00;
}

.uxbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-btn i{
   rotate: 40deg;
   font-size: 16px;
}
.uiux p {
    font-size: 18px;
    text-align: center;
    color: #1C1C1C;
    font-family: i;
    margin-top: 29px;
    margin-bottom: 25px;
}
.uiux:hover p{
   color: #fff;
}
.navbar-expand-lg .navbar-collapse {
        flex-direction: row-reverse;
    }
.bg-body-tertiary {
    background-color: rgb(248 249 250 / 0%) !important;
}
.text-center{
   text-align: center;
}
.animate__animated.animate__rotateIn {
  --animate-duration: 2s;
}
.animate__animated.animate__bounceIn {
  --animate-duration: 5s;
}
/* about */

.aboutme{
  background-image: url("../img/goldbage.jpg");
  width: 100%;
  text-align: center;
  padding-top: 50px;
  position: relative;
  padding-bottom: 100px;
}
.about_cnt span{
    color: #C09D27;
}
.about h2{
   margin-top: 30px;
}
.title_style{
    background-color: #F4F2ED;
    padding: 4px 8px;
    border-radius:  12px 15px;
    display: inline-block;
    border-bottom: solid#C09D27 2px;
    color: #534102;
}
.about_cnt p{
   margin-top: 30px;
}
#services {
    margin-bottom: 56px;
}
.cv_btn {
    display: flex;
    align-items: center;
    border-radius: 10px 10px;
    width: fit-content;  
    background-color: white;
    padding: 10px 6px;
    border-radius: 13px 4px;
    
    
    
}
.cv_btn a{
   color: #000;
}
.cv_btn a i{
   color: #B48A00;
}
.socialmedia{
    background-color: #ba8f3d52;
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 8px 1px;
    border-bottom: solid 2px #BA8F3D;
    color: #000;
    
    
}

a.mail {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}
.year h5{
   margin-bottom: 70px;

}
.edu-cnt h5{
   margin-bottom: 70px;
   
}
.head {
    margin: 50px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}
.head i{
    background-color: #a1721bf7;
    color: white;
    font-size: 11px;
    padding: 10px 10px;
    border-radius: 100%;
}
/* .head_edu{
    display: flex;
    align-items: center;
    background-color: #F4F2ED;
    padding: 5px 24px;
    border-radius: 22px 29px;
    border-top: solid 2px #B48A00;
}
.head_edu span {
    color: #B48A00;
     */
}
body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: flex;
  background-color: #534d39;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  height: 150px;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#ffffff, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
      margin-top: 20px;
    }

    .tl-bg {
      filter: grayscale(0);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
  
  h1 {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #f1bc0e;
    font-weight: normal;
    font-size: 18px;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  
  p {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.728rem;
    line-height: 0;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}
.work img{border-radius: 30px;
   
}
section#Portfolio {
    background: #9387544a;
    margin-top: 30px;
}
span.portfolio {
    color: #AC751C;
   
}
    a.project-btn {
    background: #333232;
    border-radius: 21px;
    padding: 8px 10px;
}

img.dp{
   width: 250px;
    border-radius: 25px;
}

img.cir{
    position: absolute;
    bottom: -30px;
    right: -30px;
    animation: spin 5s linear infinite;
}
@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
.dp-section{
   display: inline-block;
   position: relative;
}
img.dp-icon {
    width: 45px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.work img {
    width: 60%;
    padding: 5px 0px;
    margin-top: 20px;
}
/* .row.text-center {
    gap: 20px;
} */
.wrk{
    text-align: center;
}

section.tools {
    background: #9d916a;
}
.mytools i {
    font-size: 50px;
    background: #ffff;
    border-radius: 15px;
    padding: 8px 15px;
}
.mytools img {
    font-size: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 1px;
    width: 71px;
}
.tool h2{
    text-align: center;
}
 /* footer */
 section.footer {
    background: #534F4F;
    padding: 50px 0;
}
.cool{
   color:#F2C330;
}
.mail i{
   color: #C9A430;
   font-size: 20px;
}

.mail span {
    color: white;
    font-size: 20px;
    margin-left: 7px;
    font-weight: lighter;
}


a.mail {
    font-size: 13px;
    margin-top: 10px;
}
.contact2 {
    border: solid 1px #C9A430;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}
.footer h4{
   color: white;
   margin-bottom: 20px;
}
a.icon-fb {
    color: white;
    padding-right: 40px;
}
a.icon-insta {
    color: white;
    background: #C9A430;
    padding: 3px 6px;
    border-radius: 8px;
    margin-right: 40px;
}
.social_footer {
    margin-top: 180px;
}
.contact-cnt {
    background: white;
    padding: 20px 5px;
}

.web {
    border-radius: 6px;
    padding: 6px 12px;
}
.buttons button{
   inline-size: fit-content;
}
.buttons button:focus{
   background: #ffc107;
   border: none;
}
.footer-form input{
   border: none;
   border-bottom: solid 1px #C9A430;
   margin-bottom: 20px;
}
.footer-form textarea{
   border: none;
   border-bottom: solid 1px #C9A430;
   margin-bottom: 20px;
}
.footer-form input:focus{
   border: none;
   background: none;
   box-shadow: none;
}

@media (max-width:550px) and (min-width:300px){
p.f2{
   font-size: 15px;
}
.tl-content h1{
   font-size: 10px;
}
  
}