/* header */
body {
   background-color: #ffffff;
   height: 100vh;
   /* background: linear-gradient(99deg, #FFF5F5, #59591F); */
}


.header-cnt {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
    height: 80px;

}

.header {
   background: linear-gradient(56deg, #f5e1b7, #AFA197, transparent);
   position: fixed;
   width: 100%;
   height: 80px;
   z-index: 100;

}

/* .header2-cnt {
   margin-top: 20px;
   margin-left: 47px;
} */

.header-cnt img {
   margin-top: 10px;
}

.header2-cnt nav ul {
   display: flex;
align-items: center;
   list-style: none;
   gap: 46px;
   margin-bottom: 0px;
}

.header2-cnt nav ul a {
   color: #020202
}

a {
   text-decoration: none;
}

.hero h3 {
   font-family: "Labrada", serif;
   color: #B48A00;
   font-size: 36px;
}

.hero h1 {
   font-family: "Labrada", serif;
   font-size: 55px;
   /* background: linear-gradient(121deg, #000, #79430e, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
   color: #020202;
}

.hero-img {
   position: relative;
}

.hero-cnt h1 {
   width: 70%;

   /* position: absolute; */
}

.hero-cnt {
   position: absolute;
   bottom: 115px;
   left: 214px;
}
#banner{
    background-color: #cac8c354;
}

/* btn */
.btn-1 a {
   color: white;
}

.btn-1 {
   border-radius: 8px;
   background-color: #7D6103;
   padding: 7px 8px;
   color: #FFFEFE;
   display: flex;
   align-items: center;
}

.btn-2 a {
   border-radius: 8px;
   border: solid black 1px;
   padding: 10px 15px;
   color: hsl(0, 0%, 1%);
   font-size: 16px;

}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* .icon {
   background-color: white;
   padding: 5px 6px;
   border-radius: 80px;
} */
.icons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    right: 0;
    width: fit-content;
}
.hero-2-img{
   position: relative;
}
.hero-2-img img{
   position: absolute;
   top: 0;
   right: 70px;
}

#banner{
   padding-top: 100px;
   padding-bottom: 70px;
}
a.social i{
      background-color: #fff;
      padding: 15px;
      border-radius: 100%;
      color: #B48A00;
      font-size: 23px;
}
  /* #services */
#services{
   /* background-color: #fff; */
}
.services-cnt h4{
   color: #B48A00;
}
.services-cnt h2{
   font-size: 55px;
}
.uiux img {
    border-radius: 10px;
    background-color: #C09D27;
    padding: 6px 9px;
    margin-bottom: 29px;
    margin-left: 150px;
    margin-top: 20px;
}
.uiux {
    margin-top: 70px;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px;
}
.uiux h5{
   color: #686767;
   font-size: 35px;
   margin-left: 83px;
}
.services-heading{
    margin-right: 100px;
    padding: 10px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uiux p{
    font-size: 18px;
    text-align: center;
    color: #1C1C1C;
    font-family: i;
    /* margin-right: 56px; */
}
.ui-btn {
   border: solid .5px #5C4806;
   border-radius: 8px;
   padding: 10px 8px;
   width: fit-content;
}
.ui-btn a{
   color:#000000;
   font-weight: 10px;
}
.banner{
   position: relative;
}
.uxbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui-btn i{
   rotate: 40deg;
   font-size: 16px;
}