@media screen and (max-width:1299px) {
   
    
}
@media screen and (max-width:1200px) {
    .brain-img {
    scale: 1.2;
    margin-bottom: 31px;
}
@media screen and (max-width:1199px) {
  .about-cnt p{
    padding-bottom: 15px;
}
.about-cnt {
    margin-bottom: 31px;
}
.about-img {
    margin-top: 40px;
    scale: 1.2;
    padding-right: 27px;
}
.icon {
    position: absolute;
    top: 33%;
}
.teen-box {
    padding-bottom: 44px;
}
.teen-box1 {
    background: #F9F9F9;
    color: #736C6C;
    padding: 21px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #a1a1a1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 24px;
    padding-left: 17px;
}
.teen-box h6 {
    font-size: 18px;
}.teen-box1 h6 {
    font-size: 18px;
}
}
@media screen and (max-width:1198px) {
  .help-boxes {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 20px;
}
.box2 {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    gap: 18px;
}
.brain-img {
    scale: 1.5;
    margin-top: 41px;
}
button.submit {
    padding: 5px 70px;
    background-color: #6FA3B7;
    color: white;
    border: none;
}
}
}
@media screen and (max-width:1023px) {
   #about {
    margin-top: 60px;
    background: white;
    padding-top: 10px;
    padding-bottom: 46px;
}
.about-cnt p{
    padding-bottom: 18px;
}
.about-cnt h6{
    margin-top: 10px;
}
.icon {
    position: absolute;
    top: 33%;
}
.teen-box {
    margin-bottom: 29px;
}
.teen-box h6 {
    font-size: 18px;
}
.boxes-1 {
    padding: 4px 20px;
    border-radius: 4px;
    color: #00A3E0;
    /* text-align: center; */
    box-shadow: 0px 2px 0px 0px #777777;
}
.help-section {
    gap: 10px;
}
button.submit {
    padding-left: 46px;
    padding-right: 47px;
}
.brain-img {
    scale: 1.5;
    margin-top: 38px;
}
}

@media screen and (max-width:991px) {
    .about-cnt h6 {
    font-size: 17px;
}
.about-img img {
    width: 100%;
    padding-right: 32px;
    scale: 1.2;
}
#about {
    margin-top: 60px;
    background: white;
    padding-top: 10px;
    padding-bottom: 30px; 
}
.icon {
    position: absolute;
    top: 21%;
}
.councelling h5{
    font-size: 18px;
}
.councelling {
    padding-left: 13px;
    padding-bottom: 37px;
}
.brain-img {
    scale: 2;
    margin-top: 130px;
    margin-right: 16px;
}
input[type="email"] {
    width: fit-content;
    padding: 9px 10px;
}
button.submit {
    padding: 7px 22px;
    background-color: #6FA3B7;
    color: white;
    border: none;
}
button.sub-bt {
    padding: 1px 32px;
    border: none;
    background: #00A3E0;
    color: white;
}
.services h6 {
    font-size: 17px;
}
.choose-cnt h6 {
    font-size: 17px;
}
.team-heading h6 {
    font-size: 17px;
}
.testimonials h6 {
    font-size: 17px;
}

}
@media screen and (max-width:797px) {
    
   
.about-img img {
    /* width: 100%; */
    /* padding-right: 32px; */
    margin-top: 53px;
}
.about-img {
    margin-top: 40px;
    scale: 1;
    padding-right: 27px;
}
.about-cnt h2{
    font-size: 25px;
    margin-top: 20px;
}
.service-heading h2{
    font-size: 25px;
}
.choose-cnt h2{
    font-size: 25px;
}
.help-section h2{
    font-size: 25px;
}
section#help {
    margin-top: 40px;
    padding-bottom: 70px;
}
.boxes-1 {
    padding: 4px 12px;
    border-radius: 4px;
    color: #00A3E0;
    /* text-align: center; */
    box-shadow: 0px 2px 0px 0px #777777;
}
.brain-img {
    scale: 1.8;
    margin-top: 111px;
    margin-right: 16px;
}
.team-heading h2{
    font-size: 25px;
}
.testimonials-heading h2{
    font-size: 25px;
}


}
@media screen and (max-width:767px) {
    .hero-section img {
    position: relative;
    width: 100%;
    height: 100%;
}


.hero-cnt h1{
    color: white;
    font-size: 28px;
}
.hero-cnt {
    position: absolute;
    /* bottom: 48%; */
    left: 9%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 2% !important;
}
.hero-cnt p {
    color: white;
    margin-top: 10px;
    font-size: 16px;
}
a.explore-bt {
    background: white;
    padding: 10px 42px;
    border-radius: 20px;
    color: #0078D7;
    /* text-align: center; */
}
a.care-bt {
    border: solid 1px #fdfdfd;
    background: rgba(0, 0, 0, 0.212);
    padding: 10px 42px;
    border-radius: 20px;
    color: #ffffff;

}
.hero-cnt p br{
    display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #222;
  color: #fff;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.toggle-btn{
  font-size: 26px;
  cursor: pointer;
  display: none;
}

.menu{
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a{
  color: #fff;
  text-decoration: none;
}


  .toggle-btn{
    display: block;
  }

  .menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .menu.active{
    display: flex;
  }

  .menu li{
    padding: 15px 0;
  }
ul.menue {
    display: none;
}
.contact-bt {
    display: none;
}
ul#menu {
    z-index: 100;
    height: 80vh;
    top: 64px;
}
.menu.active {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.teen-programs {
    margin-top: 10px;
}
.boxes-1 h6{
    font-size: 15px;
}
.brain-img {
    display: none;
}
.row.testimonial-box {
    display: flex;
    gap: 20px;
}



}
@media screen and (max-width:575px) {
}
    
@media screen and (max-width:425px) {
   
    
}
@media screen and (max-width:365px) {
  
}